

footer {
	background-color: #323232;
	color:white;
	text-align: center;
	padding-top:15px;
	font-size: 14px;
	height: 50px;
}

li p {
	margin:5px;
	width:180px;
	text-align: center;
}



.blog-post {
	border:5px #323232 solid;
	margin-top:50px;
	box-shadow: 10px 10px 5px #323232;
}

.columns {
	margin-top: 5px;
	padding:20px;
}

.title-bar, .top-bar {
	padding:20px;
}

#main-menu, .is-submenu-item, .has-submenu, .menu-text, li, ul.vertical, ul.dropdown {
	background-color: #323232;
	color:white;
}

a {
	color:white;
}

a:hover {
	background-color: white;
	color: #323232;
	text-decoration: underline;
	font-weight: bolder;
}

a.active {
	background-color: #323232;
	color:white;
	text-decoration: underline;
	font-weight: bolder;
	font-size: 20px;
}

.main a {
	color:black;
}

.main a:hover {
	font-weight: normal;
}
